#slider-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

#slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  box-sizing: border-box;
  display: none;
}

.slide.active {
  display: block;
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  cursor: pointer;
  background-color: #34db77;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

#prev-btn {
  left: 10px;
}
#next-btn {
  right: 10px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #a1de10;
}
